<% if signed_in? %>
    <%= form_for(current_user.shelf_books.build(book_id: object.id), remote: true) do |f| %>
        <div><%= f.hidden_field :book_id %></div>
        <%= f.submit "加入书架", class: "btn btn-small btn-primary" %>
    <% end %>
<% else %>
    <% session[:back_to] = request.fullpath %>
    <%= link_to "加入书架", shelf_books_path, method: :post, class: "btn btn-small btn-primary" %>
<% end %>

