<footer class="footer">
    <small>
        <%= link_to "2016 - 淘书网", root_path %>
    </small>
    <nav>
        <ul>
            <li><%= link_to "帮助", help_path %></li>
            <li><%= link_to "关于", about_path %></li>
        </ul>
    </nav>
</footer>
