<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <%= link_to "淘书网", root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><%= link_to "首页", root_path %></li>
                <li><%= link_to "登录", '#' %></li>
                <li><%= link_to "注册", '#' %></li>
            </ul>
        </div>
    </div>
</nav>
